@model IEnumerable<WindowsFormsApp1.Models.Movie>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titlu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.regia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.distributia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataPremiera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrBilete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataFinal)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titlu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.regia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.distributia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataPremiera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nrBilete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataFinal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
